
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quick-sand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
.text-gray{
    color: #666666;
}
/* .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
} */
.fa-bars{
    
    font-size: 2rem;
}
/* header styles */
.header-container{
    max-width: 1440px;
    margin: 0 auto;
}
/* nav related styles */
.navbar{
    /* max-width: 1440px; */
    justify-content: space-around;
    text-align: center;
    align-items: center;
    /* margin: 0 auto; */
}
.nav-title{
    font-size: 2rem;
    font-weight: bold;
}
.nav-img{
    width: 100%;
}
.home{
  color: #FEA301;
}
.about{
    color:#01ACFD ;
}
.facilities{
    color: #05D4DF ;
}
.admission{
    color: #5D58EF;
}
.nav-link{
    font-size: 1.25rem;
    font-weight: 400;
}
.nav-btn{
    background-color: #FEA301;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
}
.nav-img-title{
    align-items: center;
}
.nav-menu-1{
    gap: 30px;

}
ul > li{
    list-style: none;
}
ul > li > a{
    text-decoration: none;
}
/* banner related styles */
.banner{
    justify-content: center;
    align-items: center;
    /* max-width: 1440px;
    margin-left: 80px;
    margin-right: 80px;    */
}
.empower{
    color:  #FEA301;
}
.vision{
    color:#01ACFD;
}
.banner-title{
    font-size: 3.25rem;
    font-weight: bold;
}
.banner-img{
    width: 100%;
}
.banner-btn{
    background-color: black;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
}
main{
    max-width: 1440px;
    margin: 0 auto;
    background-image:url(../assets/bg.png);
    background-image: linear-gradient( white, #fdf5e7);
}
/* curriculum related styles */
/* .curriculum{
    background-image:url(../assets/bg.png);

} */
.curriculum-title{
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}
.card-container{
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 30px;
    
}
.card-title{
    font-size: 1.30rem;
    font-weight: bold;
}
.card-details{
    font-size: 1rem;
    font-weight: 500;
}
.card{
    box-shadow: 0 0 25px 0.94px rgba(31, 11, 11, 0.05);
    padding: 30px;
   
    border-radius: 10px;
   
}
.grad-1{
    background-image: linear-gradient( #DEF5FF,white);
}
.grad-2{
    background-image: linear-gradient(#FFF4DC,white);
}
.grad-3{
    background-image: linear-gradient(#F2E8FF,white);
}
.card-btn1{
    background-color: white;
    color: #01ACFD;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}
.card-btn2{
    background-color: white;
    color: orange;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}
.card-btn3{
    background-color: white;
    color: #8700FF;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}
.circle-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    /* height: 100vh;
    background-color: #ffffff; */
  }

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    font-weight: bold;
  }

.circle.orange  {
    background-color: orange;
  }
/* main styles */
.curriculum-1{
    /* max-width: 1440px; */
    /* margin-left: 80px;
    margin-right: 80px; */
    /* margin: 0 auto; */
    justify-content: center;
    align-items: center;
}
/* story related styles */
.stories{
    
    /* margin-left: 80px;
    margin-right: 80px; */
  
}
.full-story{
    background-image: linear-gradient( white, #FFE5B7);
    background-image:url(../assets/bg.png);
    /* justify-content: center;
    align-items: center; */

}
.story-part{
    max-width: 1440px;
  
}
.stories-title{
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}
.box-container{
    gap: 30px;
}

.story-btn-1{
    background-color:#3CD8E8 ;
    border:none ;
    font-size: 1rem;
    font-weight: 500;
    border-radius:25px ;
    color: white;
    padding: 10px 30px;
    position:absolute;
    margin-top: -5%;

}
.story-btn-2{
    background-color:#95B226 ;
    border:none ;
    font-size: 1rem;
    font-weight: 500;
    border-radius:25px ;
    color: white;
    padding: 10px 30px;
    position:absolute;
    margin-top: -4%;
    
}
.story-btn-3{
    background-color:blueviolet ;
    border:none ;
    font-size: 1rem;
    font-weight: 500;
    border-radius:25px ;
    color: white;
    padding: 10px 30px;
    position:absolute;
    margin-top: -4%;
    
}
.story-btn-4{
    background-color:orange ;
    border:none ;
    font-size: 1rem;
    font-weight: 500;
    border-radius:25px ;
    color: white;
    padding: 10px 30px;
    position:absolute;
    margin-top: -4%;
    
}
.story-btn-5{
    background-color:skyblue ;
    border:none ;
    font-size: 1rem;
    font-weight: 500;
    border-radius:25px ;
    color: white;
    padding: 10px 30px;
    position:absolute;
    margin-top: -4%;
    
}

.right-box{
    border: 2px solid white;
    border-radius: 15px;
    background-color: white;

}

.right-box img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.left-column{
    /* max-width: 540px; */
    background-color: white;
    border: 2px solid white;
    border-radius: 15px;
    position: relative;
}
.left-details{
    padding-left: 30px;
} 
.column-title{
    font-size: 1.30rem;
    font-weight: bold;
    /* margin-top: 50px; */
    padding-left: 30px;
}
.left-column img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.right-column{
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    gap: 20px;
}
.view-btn{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* footer styles */

.full-footer{
    max-width: 1440;
    /* margin-left: 80px;
    margin-right: 80px; */
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    padding: 30px;
    color: white;
    justify-content: space-between;
    align-items: normal;
}

footer{
    background-color: #235972;
    max-width: 1440px;
    margin: 0 auto;
}
.footer-details{
    margin-top: 20px;
    font-size: 1.25rem;
    font-weight: 400;
}
.left-title{
    font-size: 1.8rem;
    font-weight: bold;
}
.c-title{
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0px;
}
.mid-footer{
    justify-content: flex-start;
    align-items: flex-start;
}
.foot-menu-1{
    gap: 30px;
   
}
.foot-item{
    margin-top: 20px;
    margin-left: 0px;
}
.foot-link{
    color: white;
}
.r8-foot-title{
    font-size: 1.4rem;
    font-weight: bold;
}



/* responsive for mobile device */
@media screen and (max-width: 576px) {
    .navbar{
        border-bottom: 2px solid orange;
    }
    .nav-title,.nav-menu, .nav-btn1{
        display: none;
    }    
    .nav-img-bar{
        /* flex-direction: row; */
        justify-content: space-around;
        align-items: center;
    }
  
    .banner{
        justify-items: center;
        text-align: center;
        flex-direction: column-reverse;
    }
    .card-container{
        flex-direction: column;
        gap: 30px;
    }
    .circle-container, .left-column{
        display: none;
    }
    .full-footer{
        /* display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: flex-start;
        padding-left: 5px; */
        flex-direction: column;
        /* text-align: start; */
        align-items: normal;
        gap: 20px;
    }
    .right-column{
        flex-direction: column;
        /* grid-template-columns: repeat(1, 1fr); */
    }
}
@media screen and (min-width:576px) and (max-width: 1940px) {
    .fa-bars{
        display: none;
    }
    
}