
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quick-sand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
.text-gray{
    color: #666666;
}
/* header styles */
.header-container{
    max-width: 1440px;
    margin: 0 auto;
}
/* nav related styles */
.navbar{
    /* max-width: 1440px; */
    justify-content: space-around;
    text-align: center;
    align-items: center;
    /* margin: 0 auto; */
}
.nav-title{
    font-size: 2rem;
    font-weight: bold;
}
.nav-img{
    width: 100%;
}
.home{
  color: #FEA301;
}
.about{
    color:#01ACFD ;
}
.facilities{
    color: #05D4DF ;
}
.admission{
    color: #5D58EF;
}
.nav-link{
    font-size: 1.25rem;
    font-weight: 400;
}
.nav-btn{
    background-color: #FEA301;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
}
.nav-img-title{
    align-items: center;
}
ul > li{
    list-style: none;
    margin-right: 30px;
   
}
ul > li > a{
    text-decoration: none;
}
/* banner related styles */
.banner{
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    /* margin: 0 auto; */

   
}
.empower{
    color:  #FEA301;
}
.vision{
    color:#01ACFD;
}
.banner-title{
    font-size: 3.25rem;
    font-weight: bold;
}
.banner-img{
    /* width: 100%; */
}
.banner-btn{
    background-color: black;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
}
/* curriculum related styles */
.curriculum{
    background-image:url(../assets/bg.png);

}
.curriculum-title{
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

/* main styles */
main{
    max-width: 1440px;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
    align-items: center;
}


/* footer styles */


/* responsive for mobile device */
