
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quick-sand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
.text-gray{
    color: #666666;
}
.navbar, .banner, .curriculum{
    max-width: 1440px;
    margin: 0 auto;
}
/* header styles */
/* .header-container{
    max-width: 1440px;
    margin: 0 auto;
} */
/* nav related styles */
.navbar{
    /* max-width: 1440px; */
    justify-content: space-around;
    text-align: center;
    align-items: center;
    /* margin: 0 auto; */
}
.nav-title{
    font-size: 2rem;
    font-weight: bold;
}
.nav-img{
    width: 100%;
}
.home{
  color: #FEA301;
}
.about{
    color:#01ACFD ;
}
.facilities{
    color: #05D4DF ;
}
.admission{
    color: #5D58EF;
}
.nav-link{
    font-size: 1.25rem;
    font-weight: 400;
}
.nav-btn{
    background-color: #FEA301;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
}
.nav-img-title{
    align-items: center;
}
ul > li{
    list-style: none;
    margin-right: 30px;
   
}
ul > li > a{
    text-decoration: none;
}
/* banner related styles */
.banner{
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin-left: 80px;
    margin-right: 80px;

   
}
.empower{
    color:  #FEA301;
}
.vision{
    color:#01ACFD;
}
.banner-title{
    font-size: 3.25rem;
    font-weight: bold;
}
.banner-img{
    /* width: 100%; */
}
.banner-btn{
    background-color: black;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
}
/* curriculum related styles */
.curriculum{
    background-image:url(../assets/bg.png);

}
.curriculum-title{
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}
.card-container{
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.card-title{
    font-size: 1.30rem;
    font-weight: bold;
}
.card-details{
    font-size: 1rem;
    font-weight: 500;
}
.card{
    box-shadow: 0 0 25px 0.94px rgba(0, 0, 0, 0.05);
    padding: 30px;
    margin-right: 20px;
    border-radius: 10px;
   
}
.grad-1{
    background-image: linear-gradient( #DEF5FF,white);
}
.grad-2{
    background-image: linear-gradient(#FFF4DC,white);
}
.grad-3{
    background-image: linear-gradient(#F2E8FF,white);
}
.card-btn1{
    background-color: white;
    color: #01ACFD;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}
.card-btn2{
    background-color: white;
    color: orange;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}
.card-btn3{
    background-color: white;
    color: #8700FF;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}
.array{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    
}
.arr-1{
    background-color: #FEA301;
    border: none;
    height: 25px;
    width: 25px;
    margin-right: 5px;
    border-radius: 50%;
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    padding: 8px;
}
.arr-2{
    background-color: #FEA301;
    border: none;
    height: 25px;
    width: 25px;
    padding: 8px;
    border-radius: 50%;
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
}

/* main styles */
.curriculum-1{
    max-width: 1440px;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: center;
    align-items: center;
}
/* story related styles */
.stories{
    
    margin-left: 80px;
    margin-right: 80px;
}
.full-story{
    background-image: linear-gradient( white, #FEA301);
    background-image:url(../assets/bg.png);

}
.story-part{
    max-width: 1440px;
  
}
.stories-title{
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}
.box-container{
    gap: 30px;
}
.right-column{
    gap: 20px;
}
.story-btn-1{
    background-color:#3CD8E8 ;
    border:none ;
    font-size: 1rem;
    font-weight: 500;
    border-radius:25px ;
    color: white;
    padding: 10px 30px;
    position:absolute;
    margin-top: -5%;

}
.story-btn-2{
    background-color:#95B226 ;
    border:none ;
    font-size: 1rem;
    font-weight: 500;
    border-radius:25px ;
    color: white;
    padding: 10px 30px;
    position:absolute;
    margin-top: -2%;
    margin-right: -2%;
}
.story-btn-3{
    background-color:blueviolet ;
    border:none ;
    font-size: 1rem;
    font-weight: 500;
    border-radius:25px ;
    color: white;
    padding: 10px 30px;
    position:absolute;
    margin-top: -2%;
    margin-right: -100px;
}
.story-btn-4{
    background-color:orange ;
    border:none ;
    font-size: 1rem;
    font-weight: 500;
    border-radius:25px ;
    color: white;
    padding: 10px 30px;
    position:absolute;
    margin-top: -2%;
    margin-right: -100px;
}
.story-btn-5{
    background-color:skyblue ;
    border:none ;
    font-size: 1rem;
    font-weight: 500;
    border-radius:25px ;
    color: white;
    padding: 10px 30px;
    position:absolute;
    margin-top: -2%;
    /* margin-right: -100px; */
}

.right-box{
    border: 2px solid gray;
    border-radius: 15px;
    background-color: rgb(245, 245, 235);

}

.right-box img{
    border-radius: 15px;
}
.left-column{
    /* max-width: 540px; */
    background-color: rgb(245, 245, 235);
    border: 2px solid gray;
    border-radius: 15px;
    position: relative;
}
.left-details{
    padding-left: 30px;
} 
.column-title{
    font-size: 1.30rem;
    font-weight: bold;
    /* margin-top: 50px; */
    padding-left: 30px;
}
.left-column img{
    width: 100%;
    border-radius: 15px;
}
.right-column{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


/* footer styles */


/* responsive for mobile device */
